@model DA.Models.ProductCategory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="page-header breadcrumb breadcrumb-dash">

        <a asp-area="Amin" asp-action="Index" class="breadcrumb-item "> <i class="topnav-icons fa fa-home w3-left w3-bar-item w3-button"> </i> Dashbroad</a>
        <a class="breadcrumb-item" asp-action="Index"> Danh sách danh mục sản phẩm </a>
        <span class="breadcrumb-item active"> Xác nhận xóa danh mục sản phẩm </span>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3 ">
            <h2 class="h3 mb-2 text-gray-800">Detail</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="form-group col-md-6">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CateName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CateName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ParentId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ParentId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Levels)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Levels)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ordering)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ordering)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Published)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Published)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Thumb)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Thumb)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Asas)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Asas)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.MetaDesc)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MetaDesc)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.MetaKey)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MetaKey)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cover)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cover)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SchemaMarkup)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SchemaMarkup)
                        </dd>
                    </dl>
                </div>

            </div>
            <div class="form-group">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="CateId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <input type="submit" value="Back" class="btn btn-secondary" asp-action="Index" />
                </form>
            </div>
        </div>
    </div>
</div>